<?xml version="1.0" encoding="utf-8"?>
<configuration>

<!--
  Please, don't ever touch this!!
  In emergency situations send email to supudo@supudo.net.
-->

  <appSettings>

    <add key="ConnectionString" value="DSN=RooBooks;DefaultDir=[DEFAULT_DIR];DriverId=25;DBQ=[DEFAULT_DIR]\\data.mdb;MaxBufferSize=2048;FIL=MS Access;PageTimeout=5;UID=admin" />

    <add key="Genres_General_Category_ID" value="1" />
    <add key="RegistryPath" value="SOFTWARE\www.supudo.net\RooBooks\" />

  </appSettings>

</configuration>